*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --family-alata: 'Alata', sans-serif;
    --family-josefin: 'Josefin Sans', sans-serif;
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}
html{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    width: 100%;
    padding: 10px 15px 10px 10px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    z-index: 10;
}
.nav h2{
    font-size: 23px;
    font-family: var(--family-alata);
}
.nav img{
    transform: scale(1.1);
}
.nav-desktop{
    display: none;
}
.menu-mobile{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0);
    transition: 0.3s;
    color: white;
    z-index: 30;
}
.menu-mobile ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: var(--family-alata);
    margin-top: 50px;
}
.menu-mobile ul li{
    text-align: center;
    width: 100%;
}
.menu-mobile ul li a{
    display: block;
    padding: 28px;
    transition: 0.3s;
}
.menu-mobile ul li a:hover{
    background-color: white;
    color: black;
}
#icon-hamburger{
    cursor: pointer;
}
#icon-close{
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    transform: scale(1.2);
}
.active{
    left: 0;
}
.header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header h2{
    padding: 25px;
    width: 300px;
    font-size: 35px;
    font-family: var(--family-josefin);
    border: 2px solid white;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
}
main{
    padding: 25px;
    margin-bottom: 50px;
}
.section-1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}
.section-1 img{
    width: 100%;
    max-width: 500px;
    margin: auto;
}
.section-1 div{
    max-width: 500px;
    margin: auto;
}
.interactive-desktop{
    display: none;
}
.section-1 h2{
    font-size: 35px;
    font-family: var(--family-josefin);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section-1 p{
    font-size: 18px;
    color: var(--very-dark-gray);
    font-family: var(--family-alata);
}

.section-2 h2{
    margin: 60px 0 25px;
    text-align: center;
    font-family: var(--family-josefin);
    text-transform: uppercase;
    font-size: 35px;
}

.card{
    position: relative;
    height: 100px;
    margin-bottom: 25px;
}
.card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), transparent);
    z-index: 1;
}
.card h3{
    width: 100px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--family-josefin);
    color: white;
    z-index: 2;
}

.card-1{
    background-image: url(./images/mobile/image-deep-earth.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: card-1;
}

.card-2{
    background-image: url(./images/mobile/image-night-arcade.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: card-2;
}

.card-3{
    background-image: url(./images/mobile/image-soccer-team.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: card-3;
}

.card-4{
    background-image: url(./images/mobile/image-grid.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: card-4;
}

.card-5{
    background-image: url(./images/mobile/image-from-above.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: card-5;
}

.card-6{
    background-image: url(./images/mobile/image-pocket-borealis.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: card-6;
}

.card-7{
    background-image: url(./images/mobile/image-curiosity.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: card-7;
}

.card-8{
    background-image: url(./images/mobile/image-fisheye.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-area: card-8;
}

.main__button{
    padding: 10px 30px;
    text-transform: uppercase;
    border: 1px solid black;
    background-color: white;
    display: block;
    margin: 20px auto;
    font-family: var(--family-alata);
    font-size: 15px;
    letter-spacing: 5px;
    transition: 0.4s;
}
.main__button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: var(--family-alata);
}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
    font-family: var(--family-alata);
    text-align: center;
}
.footer h2{
    margin-bottom: 30px;
}
.footer li{
    margin-bottom: 20px;
}
.redes{
    margin: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.copy{
    color: var(--dark-gray);
}
@media ( min-width: 750px ){
    .nav{
        padding-right: 25px;
    }
    .nav h2{
        font-size: 30px;
    }
    .menu-mobile{
        display: none;
    }
    #icon-hamburger{
        display: none;
    }
    .nav-desktop{
        display: flex;
        font-size: 18px;
        gap: 10px;
        font-family: var(--family-alata);
    }
    .nav-desktop li a{
        transition: 0.3s;
    }
    .nav-desktop li a:hover{
        color: rgb(175, 175, 175);
    }
    .header{
        background-image: url(./images/desktop/image-hero.jpg);
        height: 500px;
        justify-content: start;
    }
    .header h2{
        font-size: 50px;
        line-height: 60px;
        width: 470px;
        border: 3px solid white;
        margin-left: 10%;
    }
    .interactive-desktop{
        display: block;
    }
    .interactive-mobile{
        display: none;
    }
    .section-1{
        width: 80%;
        margin: 30px auto;
        position: relative;
    }
    .section-1 div{
        width: 80%;
        max-width: 550px;
        padding: 50px;
        position: absolute;
        bottom: -50%;
        right: -10%;
        background-color: white;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    }
    .section-1 img{
        margin: 0;
        max-width: 700px;
    }

    .section-2{
        margin-top: 270px;
    }
    .section-2-container{
        padding: 0 30px;
        display: grid;
        gap: 15px;
        grid-template-areas: "title title title title"
                             "card-1 card-2 card-3 card-4"
                             "card-5 card-6 card-7 card-8";
    }
    .card{
        height: 400px;
    }
    .card h3{
        width: 130px;
        bottom: 15px;
        left: 15px;
        font-size: 23px;
    }
    .card-1{
        background-image: url(./images/desktop/image-deep-earth.jpg);
    }
    .card-2{
        background-image: url(./images/desktop/image-night-arcade.jpg);
    }
    .card-3{
        background-image: url(./images/desktop/image-soccer-team.jpg);
    }
    .card-4{
        background-image: url(./images/desktop/image-grid.jpg);
    }
    .card-5{
        background-image: url(./images/desktop/image-from-above.jpg);
    }
    .card-6{
        background-image: url(./images/desktop/image-pocket-borealis.jpg);
    }
    .card-7{
        background-image: url(./images/desktop/image-curiosity.jpg);
    }
    .card-8{
        background-image: url(./images/desktop/image-fisheye.jpg);
    }
    .footer{
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }
    .footer-div1 ul{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .footer-div1 h2{
        text-align: start;
    }
    .redes{
        justify-content: end;
        margin: 10px 0 30px 0;
    }
}
@media ( min-width: 1100px ){
    .section-1 div{
        bottom: -25%;
        right: 0;
    }
    .section-2{
        margin-top: 200px;
    }
    .section-2-container{
        padding: 0 150px;
        gap: 28px;
    }
    .card{
        height: 500px;
    }
    .card h3{
        width: 140px;
        font-size: 30px;
    }
}